[settings]
api_url = https://{{ (bitwardenFields "item" "wakatime.com").apihost.value }}/api/heartbeat
api_key = {{ (bitwardenFields "item" "wakatime.com").apikey.value }}

[internal]
cli_version = v1.27.0
cli_version_last_modified = Wed, 22 Sep 2021 01:52:04 GMT
backoff_at =
backoff_retries = 0
