[pull]
	ff = only
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[user]
	name = "Ewout van Mansom"
	email = {{ .email | quote }}
	{{- if .gpg_id }}
	{{- if gt (len .gpg_id) 0 }}
	signingkey = {{ .gpg_id | quote }}
	{{- end }}
	{{- end }}
[color]
	ui = true
[format]
	pretty = fuller
{{- if .gpg_id }}
{{- if gt (len .gpg_id) 0 }}
[commit]
	gpgsign = true
{{- end }}
{{- end }}
[push]
	default = simple
[url "ssh://git@gitlab.{{ .corp }}.nl"]
	insteadOf = https://gitlab.{{ .corp }}.nl
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[init]
	defaultBranch = main
[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[delta]
	side-by-side = true
	line-numbers = true
	syntax-theme = Monokai Extended Bright
	features = mantis-shrimp
[include]
	path = ~/.local/share/delta/themes.gitconfig
