[settings]
api_url = https://{{ (bitwardenFields "item" "wakatime.com").apihost.value }}/api/heartbeat
api_key = {{ (bitwardenFields "item" "wakatime.com").apikey.value }}

[internal]
cli_version = v1.22.1
cli_version_last_modified = Wed, 01 Sep 2021 21:48:38 GMT
