[settings]
api_url = https://{{ (bitwardenFields "item" "wakatime.com").apihost.value }}/api/heartbeat
api_key = {{ (bitwardenFields "item" "wakatime.com").apikey.value }}

[internal]
cli_version = v1.19.0
cli_version_last_modified = Tue, 24 Aug 2021 20:32:25 GMT
