[server_{{ .corp_upper }} Icinga]
enabled = True
type = IcingaWeb2
name = {{ .corp_upper }} Icinga
monitor_url = https://monitoring.{{ .corp }}.nl/icingaweb2
monitor_cgi_url = https://monitoring.{{ .corp }}.nl/icingaweb2
username = {{ (bitwardenFields "item" "7c7fb928-6ba5-45cb-a1ff-ab6c3af1e806").nagstamon_username.value }}
password = {{ (bitwardenFields "item" "7c7fb928-6ba5-45cb-a1ff-ab6c3af1e806").nagstamon_password.value }}
save_password = True
use_proxy = False
use_proxy_from_os = False
proxy_address = http://proxyserver:port/
proxy_username = {{ (bitwardenFields "item" "7c7fb928-6ba5-45cb-a1ff-ab6c3af1e806").nagstamon_proxy_username.value }}
proxy_password = {{ (bitwardenFields "item" "7c7fb928-6ba5-45cb-a1ff-ab6c3af1e806").nagstamon_proxy_password.value }}
authentication = basic
timeout = 10
show_options = True
ignore_cert = False
custom_cert_use = False
custom_cert_ca_file = 
use_autologin = False
autologin_key = {{ (bitwardenFields "item" "7c7fb928-6ba5-45cb-a1ff-ab6c3af1e806").nagstamon_autologin_key.value }}
use_display_name_host = False
use_display_name_service = False
no_cookie_auth = False
force_authuser = False
checkmk_view_hosts = nagstamon_hosts
checkmk_view_services = nagstamon_svc
host_filter = state !=0
service_filter = state !=0 or host.state != 0
monitor_site = Site 1
use_description_name_service = False
map_to_hostname = pod_name,namespace,instance
map_to_servicename = alertname
map_to_status_information = message,summary,description

