EDITOR=vim
LIBVA_DRIVER_NAME=radeonsi
VDPAU_DRIVER=radeonsi
MOZ_WEBRENDER=1
MOZ_DISABLE_RDD_SANDBOX=1
MOZ_USE_XINPUT2=1
QT_STYLE_OVERRIDE=adwaita
{{- if .wayland }}
MOZ_ENABLE_WAYLAND=1
QT_QPA_PLATFORM=wayland
{{- end }}
QT_QPA_PLATFORMTHEME=gnome
GTK_IM_MODULE=ibus
QT_IM_MODULE=ibus
XMODIFIERS=@im=ibus
GST_VAAPI_ALL_DRIVERS=1
